@model locacaoProjeto.Models.Configuracao

@{
    ViewData["Title"] = "Details";
}

<h1>Lista</h1>

<div>
    <h4>Configuraçao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasDeLocacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasDeLocacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
