@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Locação CDF</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://www.pngfind.com/pngs/b/130-1302471_carro-png-carro-fcil-porto-seguro-transparent-png.png" alt="imgCarros">
</div>


